/* Pivot page styles */

#pivot-category-dropdown {
    max-width: 500px;
}

#pivot-category-dropdown .Select-value-label {
    display: inline-block;
    margin-right: 5px;
}

/* Format Importo column as Euro */
#pivot-table .dash-table-cell[aria-colindex="4"] {
    text-align: right;
}
